:root { /*tạo biến */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

}
* {
    box-sizing: inherit; /*inherit là kế thừa thuộc tính của thẻ cha*/

}
html {
    font-size: 100%;
}
p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif; /*sans-serif là chủng font chữ k có gạch chân */
    box-sizing: border-box;
}
.grid {
    width: 1200px;
    max-width: 100%;
}
.grid__full-width {
    width: 100%;

}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}

